language: c

os:
  - linux
  - osx

sudo: false

notifications:
  email: false

env:
  global:
    - SETUP_XVFB=True
    - CONDA_CHANNELS="astrofrog/label/dev conda-forge"
    - CONDA_DEPENDENCIES="astropy qtpy traitlets ipywidgets>=7.0 ipyevents widgetsnbextension pyqt pytest pytest-cov>=2.6.1 pytest-remotedata>=0.3.1 requests nomkl matplotlib beautifulsoup4 lxml jupyterlab flask flask-cors pyopengl"
    - PIP_DEPENDENCIES="sphinx-automodapi numpydoc sphinx_rtd_theme pytest-faulthandler codecov reproject"
  matrix:
    - PYTHON_VERSION=2.7
    - PYTHON_VERSION=3.5
    - PYTHON_VERSION=3.6

install:
  - git clone git://github.com/astropy/ci-helpers.git
  - source ci-helpers/travis/setup_conda.sh

script:
  - python setup.py sdist
  - cd dist && pip install *.tar.gz --verbose && cd ..
  - jupyter nbextension list
  - jupyter labextension list
  - jupyter serverextension list
  - python .check_enabled.py

  # For now the image tests don't work well on MacOS X, which requires WebEngine. The
  # tests only pass if the Qt window is always in the foreground.
  - if [[ $TRAVIS_OS_NAME == linux ]]; then pytest pywwt --cov pywwt; fi
  - make -C docs html linkcheck

after_success:
  - codecov
