language: c

sudo: false

notifications:
  email: false

env:
  global:
    - SETUP_XVFB=True
    - CONDA_DEPENDENCIES="astropy qtpy traitlets pyqt pytest requests"
  matrix:
    - PYTHON_VERSION=2.7
    - PYTHON_VERSION=3.5
    - PYTHON_VERSION=3.6

install:
  - git clone git://github.com/astropy/ci-helpers.git
  - source ci-helpers/travis/setup_conda.sh

script:
  - py.test pywwt
  - cd docs ; make html
