include *.md
include *.rst
include pyproject.toml

include setup.py
include setupbase.py
include pytest.ini
include .coverage.rc

# JavaScript frontend package source
graft frontend
prune frontend/dist
exclude frontend/pywwt-*.tgz
prune **/node_modules

# Built Javascript files, exported into the Python tree
graft pywwt/nbextension
include pywwt/labextension/*.tgz

# Other static resource files
graft pywwt/interactive_figure
graft pywwt/web_static

# Documentation
graft docs
exclude docs/\#*
prune docs/build
prune docs/gh-pages
prune docs/dist

# Tests
graft tests
prune tests/build
prune coverage

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
